<%- model_class = Post -%>
<div class="wrapper">
    <div class="box">
        <div class="row">

          <nav>
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
              <% else %>
              <%= link_to "Sign in", new_user_session_path %>
              <%= link_to "Sign up", new_user_registration_path %>
              <%= link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook) %>
            <% end %>
          </nav>
      
            <!-- sidebar -->
            <div class="column col-sm-3" id="sidebar">
                <a class="logo" href="#">B</a>
                <ul class="nav">
                    <% if user_signed_in? %>
                      <li><%= current_user.name %></li>
                      <li><%= image_tag current_user.avatar.url(:thumb) if current_user.avatar.file? %></li>
                    <% end %>
                    <li class="active"><a href="#featured">Featured</a>
                    </li>
                    <li><a href="#stories">Stories</a>
                    </li>
                </ul>
            </div>
            <!-- /sidebar -->
          
            <!-- main -->
            <div class="column col-sm-9" id="main">
                <div class="padding">
                    <div class="full col-sm-9">
                      
                        <!-- content -->
                        
                        <div class="col-sm-12" id="featured">   
                          <div class="page-header text-muted">
                           <p class="notice"><%= notice %></p> Posts:
                          </div> 
                        </div>
                        
                      <% @posts.each do |post| %> 
                        <!--/top story-->
                        <div class="row">    
                          <div class="col-sm-10">
                            <ul>
                              <li><%= post.description %>
                              <%= image_tag post.image.url(:thumb) if post.image.file? %></li>
                              <li><%= post.user.name %>
                              <%=l post.created_at %></li>
                            <% if current_user && current_user.id == post.user_id %>
                              <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_post_path(post), :class => 'btn btn-default btn-xs' %>
                              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          post_path(post),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-default btn-xs' %></li>
                            <% end %>
                              <li><%= link_to 'Like', post_likes_path(post), class: 'likes-link' %>
                              <span class="likes_count"> <%= post.likes.count %> </span> likes&nbsp;</li>
                            </ul>
                            <a href="#" class="pull-right"><img src="http://api.randomuser.me/portraits/thumb/men/19.jpg" class="img-circle"></a>
                          </div> 
                        </div>
                         <% end %>
                                                              
                        <div class="col-sm-12">
                          <div class="page-header text-muted divider">
                            Connect with Us
                          </div>
                        </div>
                      
                        <div class="row">
                          <div class="col-sm-6">
                            <a href="#">Twitter</a> <small class="text-muted">|</small> <a href="#">Facebook</a> <small class="text-muted">|</small> <a href="#">Google+</a>
                          </div>
                        </div>
                        
                        <hr>
                      
                        <div class="row" id="footer">    
                        </div>
                      
                      
                      <h3 class="text-center">
                      <a href="http://bootply.com/" target="ext">© Copyright Tim Scully 2015</a>
                      </h3>
                        
                      <hr>
                        
                      
                    </div><!-- /col-9 -->
                </div><!-- /padding -->
            </div>
            <!-- /main -->
          
        </div>
    </div>
</div>
<!-- <section class="holder">
  <section class="page-header">
  Posts
    <% if signed_in? %>
      <%= current_user.name %>
      <%= image_tag current_user.avatar.url(:thumb) if current_user.avatar.file? %>
    <% end %>
  </section>
  <section class="posts">
    <table class="table table-striped">
      <tbody>
        <% @posts.each do |post| %>
          <tr>
            <td><%= post.description %></td>
            <td><%= image_tag post.image.url(:thumb) if post.image.file? %></td>
            <td><%=l post.created_at %></td>
            <td><%= post.user.name %></td>
            <td>
            <% if current_user && current_user.id == post.user_id %>
              <%= link_to t('.edit', :default => t("helpers.links.edit")),
                          edit_post_path(post), :class => 'btn btn-default btn-xs' %>
              <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                          post_path(post),
                          :method => :delete,
                          :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                          :class => 'btn btn-default btn-xs' %>
              <% end %>
          <section class="likes">
            <%= link_to 'Like', post_likes_path(post), class: 'likes-link' %><br>
            <span class="likes_count"> <%= post.likes.count %> </span> likes&nbsp;
          </section>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>

    <%= link_to t('.new', :default => t("helpers.links.new")),
                new_post_path,
                :class => 'btn btn-primary' %>
  </section>
</section> -->