<%- model_class = Post -%>
<!-- sidebar -->
<div class="column col-sm-3" id="sidebar">
  <% if user_signed_in? %>
    <a class="img-circle" href="#"><%= image_tag current_user.avatar.url(:thumb) if current_user.avatar.file? %></a>
    <ul class="nav">
      <li class="active"><%= current_user.name %></li>
      <li><%= link_to "New Post", new_post_path, :class => 'new-button' %></li>
  <% end %>
    </ul>
</div>
<!-- /sidebar -->

<!-- main -->
<div class="column col-sm-9" id="main">
    <div class="padding">
        <div class="full col-sm-9">
          
            <!-- content -->
            
            <div class="col-sm-12" id="featured">   
              <div class="page-header text-muted">
               <p class="notice"><%= notice %></p> Posts:
              </div> 
            </div>
            
          <% @posts.each do |post| %> 
            <!--/top story-->
            <div class="row">    
              <div class="col-sm-10">

                  <aside id="post-avatar" class="pull-left">
                    <%= image_tag post.user.avatar.url(:thumb) if post.user.avatar.file? %><br>
                    <%= post.user.name %>
                  </aside>

                <ul>
                <section class="post-post">
                  <section class="post-body"><li><%= post.description %></li>
                  <li><%= image_tag post.image.url(:thumb) if post.image.file? %></li></section><br>
                  <section class="post-user">
                  <li>Posted By <i><%= post.user.name %></i>
                  <%=l post.created_at %></li></section><br>
                  <section class="post-buttons">
                <% if current_user && current_user.id == post.user_id %>
                  <li><%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_post_path(post), :class => 'btn btn-default btn-xs' %>
                  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              post_path(post),
              :method => :delete,
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-default btn-xs' %></li><br>
                <% end %>
                </section>
                  <li><%= link_to 'Like', post_likes_path(post), class: 'likes-link' %>
                  <span class="likes_count"> <%= post.likes.count %> </span> likes&nbsp;</li>
                </section>
                </ul>
              </div> 
            </div>
             <hr>
             <% end %>
        </div><!-- /col-9 -->
    </div><!-- /padding -->
</div>
<!-- /main -->