<!DOCTYPE html>
<html>
<head>
  <title>Chittr</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<header>Chittr
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
 </header>
<section id="awan">
  <section class="holder">
 	  <%= yield %>
  </section>
</section>

</body>
</html>
